/*<meta conditions="vConditions.LaterVersion" />*/

/***                       ***/
/***   CSS VARIABLES       ***/
/***                       ***/

:root
{
	/*   Help-specific   */
	--vHelpFontFamily: Verdana;
	--vHelpFontFamilyCode: Courier New;
	--vHelpFontColor: 3A3E3F;
	--vHelpFontSize: 10pt;
	--vHelpFontSizeFooter: 10pt;
	/*   Manual-specific   */
	--vManualFontFamily: Arial;
	--vManualFontFamilyCode: Courier New;
	--vManualFontFamilyTitle: Mark Pro for Vector;
	--vManualFontSize: 10pt;
	/*   Vector Primary Colors   */
	--vRed: B70032;
	--vGray: 565C5E;
	--vGray73: 848B8E;
	--vGray47: B1B6BA;
	--vGray22: DADEE1;
	/*   Vector Secondary Colors   */
	--v2LightOrange: FBB900;
	--v2DarkOrange: EF7C00;
	--v2LightGreen: 92C255;
	--v2DarkGreen: 00A765;
	--v2LightBlue: 43BFDE;
	--v2DarkBlue: 028FC3;
	--v2Violet: 8884C1;
	/*   Vector Bus System Colors   */
	--vAFDX: C81E7D;
	--vARINC429: 78003C;
	--vCAN: 909090;
	--vCANHighSpeed: F0DC00;
	--vCANLowSpeed: F5A500;
	--vEthernet: 7D1E7D;
	--vFlexRay: 003C91;
	--vJ1587: 00B4EB;
	--vLIN: 199C64;
	--vMOST: B70032;
	--vPWLAN: 967800;
	/*   Vector Other Colors   */
	--vTechDocGray: F0F5F5;
	--vErrorRed: FF0000;
	--vTestCheckGreen: 00FF00;
	/*   Basic Colors   */
	--Black: 000000;
	--White: FFFFFF;
	/*   Tables   */
	--vDefaultCellPadding: 5pt;
	/*   Vector Images   */
	--vImageInfo: url('../vImages/vInfo.png');
}
