/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: vTablePageTOC;
	border-collapse: separate;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-top: 5pt;
	cell-padding-bottom: 5pt;
	max-id: 3;
	border-spacing-y: 2;
	border-spacing-x: 2;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-vTablePageTOC
{
	border-collapse: separate;
	border-spacing: 2px 2px;
}

.TableStyle-vTablePageTOC-Column-Column1
{
	
}

.TableStyle-vTablePageTOC-HeadI-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadI-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadE-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadE-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadF-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadF-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadH-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadH-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadD-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadD-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadC-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadC-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadB-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadB-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadA-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadA-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadG-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-HeadG-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootI-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootI-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootE-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootE-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootF-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootF-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootH-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootH-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootD-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootD-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootC-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootC-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootB-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootB-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootA-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootA-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootG-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-FootG-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-Body-Body1
{
	
}

.TableStyle-vTablePageTOC-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
}

.TableStyle-vTablePageTOC-BodyG-Column1-Body1 p
{
	font-weight: normal;
}


