@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

@media print
{
	body
	{
		font-family: Arial;
		font-size: 10pt;
	}

	ul
	{
		margin: 0pt;
		margin-top: 4pt;
		padding-left: 6mm;
		mc-hyphenate: never;
		list-style-image: url('../vImages/vBackstage/vListItemRed.png');
		list-style-type: none;
	}

	li
	{
		margin-top: 4pt;
	}

	li.Indent
	{
		margin-left: 14pt;
	}
	
	li.Bold
	{
		font-weight: bold;
	}
	
	li.IndentBold
	{
		margin-left: 14pt;
		font-weight: bold;
	}

	img.vec_TableSymbolImage
	{
		padding-left: 22mm;
	}

	ol
	{
		margin: 0pt;
		margin-top: 4pt;
		padding-left: 6mm;
		mc-hyphenate: never;
	}

	div.Indent
	{
		margin-left: 25pt;
	}

	/*   PARAGRAPHS          */

	p
	{
		font-family: Arial;
		font-size: 10pt;
		margin: 0pt;
		margin-bottom: 6pt;
		mc-hyphenate: never;
		word-spacing: -0.6px;
	}

	p.list
	{
		margin-bottom: 4pt;
		mc-hyphenate: never;
	}
	
	p.ListItem
	{
		margin-bottom: 3pt;
		mc-hyphenate: never;
	}

	p.Bold
	{
		font-weight: bold;
	}

	p.Headline
	{
		font-family: Arial;
		font-size: 11pt;
		font-weight: bold;
		margin: 0pt;
		padding-bottom: 6pt;
		padding-top: 12pt;
	}

	p.HeadlinePageBreak
	{
		font-family: Arial;
		font-size: 11pt;
		font-weight: bold;
		margin: 0pt;
		padding-bottom: 6pt;
		padding-top: 0pt;
		page-break-before: always;
	}

	p.vec_ChapterChange
	{
		margin-top: 6pt;
		margin-bottom: 6pt;
	}

	p.vec_ManualType
	{
		color: #ffffff;
		font-family: 'Mark Pro for Vector';
		font-size: 16pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
		padding-left: 8mm;
		padding-right: 8mm;
		padding-bottom: 6mm;
		background-color: #b70032;
	}
	

	p.vec_Title
	{
		color: #ffffff;
		font-family: 'Mark Pro for Vector';
		font-size: 23pt;
		font-weight: bold;
		margin-top: 0pt;
		margin-bottom: 0pt;
		padding-top: 8mm;
		padding-bottom: 6mm;
		padding-left: 8mm;
		padding-right: 8mm;
		background-color: #b70032;
	}
	

	p.vec_ManualVersion
	{
		font-family: 'Mark Pro for Vector';
		font-size: 14pt;
		margin-top: 0pt;
		padding-bottom: 0mm;
		padding-left: 0mm;
		padding-top: 0mm;
	}
	

	p.vec_TitleImage for new Layout
	{
		margin-top: 0pt;
		padding-bottom: 0px;
	}
	

	p.vec_AdvancedOrganizer
	{
		font-weight: bold;
		padding-bottom: 10pt;
	}

	p.vec_TableOfContents
	{
		font-weight: bold;
		font-size: 16pt;
		margin-top: 0pt;
		padding-bottom: 36pt;
		padding-top: 0pt;
	}

	p.vec_PageBreak
	{
		page-break-after: always;
	}

	p.vec_HeadLine
	{
		margin-top: 0pt;
	}

	p.vec_Footer
	{
		margin-top: 0pt;
		font-size: 9pt;
	}

	p.vec_imageLable
	{
		font-size: 8pt;
		mc-auto-number-offset: 0px;
		padding-bottom: 12pt;
	}

	p.vec_imprint
	{
		font-size: 8pt;
		margin-top: 0pt;
		margin-bottom: 0pt;
	}

	p.vec_TableSymbolImage
	{
		padding-left: 22mm;
	}

	p.Syntax
	{
		font-family: 'Courier New';
		padding-top: 1pt;
	}

	/*   SPAN CLASSES        */

	span.Product
	{
		color: #000000;
	}

	span.bold
	{
		font-weight: bold;
	}

	span.blue
	{
		color: #028fc3;
	}

	span.green
	{
		color: #00a765;
	}

	span.orange
	{
		color: #EF7C00;
	}

	span.red
	{
		color: #b70032;
	}

	span.yellow
	{
		color: #fbb900;
	}

	span.GUI
	{
		font-weight: bold;
	}

	span.Syntax
	{
		font-family: 'Courier New';
	}

	span.vec_imageLabeNo
	{
		mc-auto-number-format: 'GL:{n+}';
	}

	/*   TABLE PARAGRAPHS       */

	p.Table
	{
		margin-bottom: 3pt;
	}

	p.TableBold
	{
		font-weight: bold;
		margin-bottom: 3pt;
	}

	p.TableCOM
	{
		font-size: 8pt;
		color: #909090;
		margin-bottom: 0pt;
	}

	p.TableGUI
	{
		font-weight: bold;
		margin-bottom: 3pt;
	}

	p.TableHead
	{
		font-weight: bold;
		margin-bottom: 3pt;
	}

	p.TableHeadSmall
	{
		font-size: 8pt;
		font-weight: bold;
		color: #b70032;
		background-color: #dcdcdc;
		margin-bottom: 3pt;
	}

	p.TableKeyboard
	{
		font-weight: bold;
		margin-bottom: 3pt;
	}

	p.TableSourceCode
	{
		font-family: 'Courier New';
		background-color: #dadee1;
		margin-bottom: 3pt;
	}

	p.TableSourceCodeIndent
	{
		font-family: 'Courier New';
		background-color: #dadee1;
		margin-left: 25pt;
		margin-bottom: 3pt;
	}

	p.TableSymbolHead
	{
		font-weight: bold;
		color: #b70032;
	}

	p.TableSymbolHeadRed
	{
		font-weight: bold;
		color: #b70032;
	}

	p.TableSymbolHeadRedWhite
	{
		font-weight: bold;
		color: #ffffff;
		background-color: #b70032;
	}

	p.TableSyntax
	{
		font-family: 'Courier New';
		padding-top: 1pt;
		margin-bottom: 3pt;
	}

	p.TableSyntaxIndent
	{
		font-family: 'Courier New';
		padding-top: 1pt;
		margin-bottom: 3pt;
		margin-left: 25pt;
	}

	p.TableTextSmall
	{
		font-size: 8pt;
		margin-bottom: 3pt;
	}

	p.IndexHeading
	{
		text-align: left;
		border-top: solid 1px #000000;
		color: #000000;
	}

	p.Index1
	{
		mc-leader-align: right;
		mc-leader-format: '.';
		mc-column-count: 1;
		mc-leader-offset: 1px;
	}

	/*   HEADLINES       */

	h1
	{
		font-family: Arial;
		font-size: 16pt;
		font-weight: bold;
		margin: 0pt;
		padding-bottom: 36pt;
		mc-auto-number-format: 'GH:{n+}  ';
	}

	h2
	{
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
		margin: 0pt;
		padding-top: 18pt;
		padding-bottom: 18pt;
		mc-auto-number-format: 'GH:{n}.{n+}  ';
	}

	h2.First
	{
		padding-top: 0pt;
	}

	h2.PageBreak
	{
		padding-top: 0pt;
		page-break-before: always;
	}

	h3
	{
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		margin: 0pt;
		padding-bottom: 12pt;
		padding-top: 18pt;
		mc-auto-number-format: 'GH:{n}.{n}.{n+}  ';
	}

	h3.First
	{
		padding-top: 0pt;
	}

	h3.PageBreak
	{
		padding-top: 0pt;
		page-break-before: always;
	}

	h4
	{
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		margin: 0pt;
		padding-bottom: 12pt;
		padding-top: 18pt;
		mc-auto-number-format: 'GH:{n}.{n}.{n}.{n+}  ';
	}

	h4.First
	{
		padding-top: 0pt;
	}

	h4.PageBreak
	{
		padding-top: 0pt;
		page-break-before: always;
	}

	h5
	{
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		margin: 0pt;
		padding-top: 10pt;
		padding-bottom: 0pt;
		mc-heading-level: 0;
	}

	h5.First
	{
		padding-top: 0pt;
	}

	h5.PageBreak
	{
		padding-top: 0pt;
		page-break-before: always;
	}

	/*   HYPERLINKS          */

	a
	{
		background-color: #dadee1;
		color: #000000;
		text-decoration: none;
	}

	a:active
	{
		
	}

	a:link
	{
		color: #000000;
		text-decoration: none;
	}

	/*   Table Definitions   */

	table
	{
		margin-bottom: 15px;
	}

	th
	{
		font-weight: bold;
		color: #b70032;
		background-color: #dadee1;
		vertical-align: top;
		text-align: left;
		padding: 5pt;
		padding-bottom: 5pt;
	}

	td
	{
		display: table-cell;
		vertical-align: top;
		padding: 5pt;
		padding-top: 5pt;
		padding-bottom: 0pt;
	}

	/*   MADCAP STYLES       */

	MadCap|tocProxy
	{
		font-family: Arial;
		font-size: 10pt;
		border: none 0px;
		padding-left: 0px;
	}

	MadCap|miniTocProxy
	{
		border: solid 2px;
		border-left-style: none;
		border-right-style: none;
		background-color: #f0f5f5;
		border-bottom-color: #909090;
		border-top-color: #909090;
		padding-left: 0px;
	}

	MadCap|indexProxy
	{
		border-left-style: none;
		border-right-style: none;
		empty-cells: show;
		text-align: left;
		border: none 2px #909090;
		padding-left: 0px;
		margin-top: 0px;
		padding-top: 0px;
		mc-column-count: 1;
	}

	MadCap|xref
	{
		mc-format: '{paranum}{paratext}';
	}

	MadCap|xref.Chapter
	{
		background-color: #dadee1;
	}

	MadCap|glossaryProxy
	{
		text-align: left;
		border-left-style: none;
		border-right-style: none;
		margin-top: 0px;
		padding-top: 0px;
		padding-left: 0px;
		empty-cells: show;
		mc-column-count: 1;
		border: none 2px #000000;
	}

	div.GlossaryPageTerm
	{
		font-family: Arial;
		font-size: 10pt;
	}

	div.GlossaryPageHeading
	{
		border-bottom: none 2px #000000;
		font-family: Arial;
		font-size: 10pt;
		border-top: solid 1px #000000;
	}

	div.GlossaryPageEntry
	{
		
	}

	div.GlossaryPageDefinition
	{
		color: #808080;
		font-family: Arial;
		font-size: 10pt;
		margin-left: 0;
	}
}

b
{
	mc-disabled: true;
}

a.GlossaryPageTerm
{
	mc-disabled: false;
}

a.MCBreadcrumbsLink
{
	mc-disabled: false;
}

a.Popup
{
	mc-disabled: false;
}

abbr
{
	mc-disabled: true;
}

acronym
{
	mc-disabled: true;
}

address
{
	mc-disabled: true;
}

area
{
	mc-disabled: false;
}

article
{
	mc-disabled: false;
}

aside
{
	mc-disabled: false;
}

big
{
	mc-disabled: true;
}

blockquote
{
	mc-disabled: false;
}

body
{
	mc-disabled: false;
}

br
{
	mc-disabled: false;
}

button
{
	mc-disabled: false;
}

canvas
{
	mc-disabled: false;
}

caption
{
	mc-disabled: false;
}

center
{
	mc-disabled: false;
}

cite
{
	mc-disabled: true;
}

code
{
	mc-disabled: true;
}

col
{
	mc-disabled: false;
}

colgroup
{
	mc-disabled: false;
}

datalist
{
	mc-disabled: false;
}

dd
{
	mc-disabled: false;
}

del
{
	mc-disabled: true;
}

dir
{
	mc-disabled: false;
}

div.GlossaryPageDefinition
{
	mc-disabled: false;
}

div.GlossaryPageEntry
{
	mc-disabled: false;
}

div.GlossaryPageHeading
{
	mc-disabled: false;
}

div.GlossaryPageTerm
{
	mc-disabled: false;
}

div.Row-4-4-4
{
	mc-disabled: false;
}

div.Row-6-6
{
	mc-disabled: false;
}

div.Row-8-4
{
	mc-disabled: false;
}

dl
{
	mc-disabled: false;
}

dt
{
	mc-disabled: false;
}

em
{
	mc-disabled: true;
}

fieldset
{
	mc-disabled: false;
}

figcaption
{
	mc-disabled: false;
}

figure
{
	mc-disabled: false;
}

footer
{
	mc-disabled: false;
}

form
{
	mc-disabled: false;
}

frame
{
	mc-disabled: false;
}

frameset
{
	mc-disabled: false;
}

h5
{
	mc-disabled: false;
}

h6
{
	mc-disabled: false;
}

head
{
	mc-disabled: false;
}

header
{
	mc-disabled: false;
}

hr
{
	mc-disabled: false;
}

i
{
	mc-disabled: false;
}

input
{
	mc-disabled: false;
}

ins
{
	mc-disabled: false;
}

kbd
{
	mc-disabled: false;
}

label
{
	mc-disabled: false;
}

legend
{
	mc-disabled: false;
}

madcapEditorBehavior
{
	mc-disabled: false;
}

map
{
	mc-disabled: false;
}

menu
{
	mc-disabled: false;
}

nav
{
	mc-disabled: false;
}

noframes
{
	mc-disabled: false;
}

object
{
	mc-disabled: false;
}

optgroup
{
	mc-disabled: false;
}

option
{
	mc-disabled: false;
}

p.Index2
{
	mc-disabled: false;
}

p.Index3
{
	mc-disabled: false;
}

p.Index4
{
	mc-disabled: false;
}

p.Index5
{
	mc-disabled: false;
}

p.Index6
{
	mc-disabled: false;
}

p.Index7
{
	mc-disabled: false;
}

p.Index8
{
	mc-disabled: false;
}

p.Index9
{
	mc-disabled: false;
}

p.ListOf
{
	mc-disabled: false;
}

p.MiniTOC2
{
	mc-disabled: false;
}

p.MiniTOC3
{
	mc-disabled: false;
}

p.MiniTOC4
{
	mc-disabled: false;
}

p.MiniTOC5
{
	mc-disabled: false;
}

p.MiniTOC6
{
	mc-disabled: false;
}

p.MiniTOC7
{
	mc-disabled: false;
}

p.MiniTOC8
{
	mc-disabled: false;
}

p.MiniTOC9
{
	mc-disabled: false;
}

p.TOC2
{
	mc-disabled: false;
}

p.TOC3
{
	mc-disabled: false;
}

p.TOC4
{
	mc-disabled: false;
}

p.TOC5
{
	mc-disabled: false;
}

p.TOC6
{
	mc-disabled: false;
}

p.TOC7
{
	mc-disabled: false;
}

p.TOC8
{
	mc-disabled: false;
}

p.TOC9
{
	mc-disabled: false;
}

pre
{
	mc-disabled: false;
}

q
{
	mc-disabled: false;
}

s
{
	mc-disabled: false;
}

samp
{
	mc-disabled: false;
}

script
{
	mc-disabled: false;
}

section
{
	mc-disabled: false;
}

select
{
	mc-disabled: false;
}

small
{
	mc-disabled: false;
}

span
{
	mc-disabled: false;
}

span.boolean
{
	mc-disabled: true;
}

span.SearchHighlight
{
	mc-disabled: true;
}

span.SearchHighlight1
{
	mc-disabled: true;
}

span.SearchHighlight2
{
	mc-disabled: true;
}

span.SearchHighlight3
{
	mc-disabled: true;
}

span.SearchHighlight4
{
	mc-disabled: true;
}

span.SearchHighlight5
{
	mc-disabled: true;
}

span.SearchHighlight6
{
	mc-disabled: true;
}

span.SearchHighlight7
{
	mc-disabled: true;
}

span.SearchHighlight8
{
	mc-disabled: true;
}

span.SearchHighlight9
{
	mc-disabled: true;
}

span.SearchHighlight10
{
	mc-disabled: true;
}

span.SeeAlsoIndex
{
	mc-disabled: false;
}

span.SeeAlsoIndexTerms
{
	mc-disabled: false;
}

span.SeeIndex
{
	mc-disabled: false;
}

span.SeeIndexTerms
{
	mc-disabled: false;
}

span.state
{
	mc-disabled: false;
}

strike
{
	mc-disabled: false;
}

strong
{
	mc-disabled: true;
}

style
{
	mc-disabled: false;
}

textarea
{
	mc-disabled: false;
}

tfoot
{
	mc-disabled: false;
}

thead
{
	mc-disabled: false;
}

tt
{
	mc-disabled: false;
}

u
{
	mc-disabled: false;
}

var
{
	mc-disabled: false;
}

MadCap|helpControlMenuItem.Highlighted
{
	mc-disabled: false;
}

MadCap|slideThumbnail.active
{
	mc-disabled: false;
}

div.Paragraph
{
	page-break-inside: avoid;
}
