/* MadCap Table Style: */

/*<meta Version="7" />*/

/*                       */
/*   TABLE DEFINITIONS   */
/*                       */

mcTableStyle
{
	name: vTableCOM;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dadee1;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dadee1;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dadee1;
	cell-padding-left: 3pt;
	cell-padding-right: 4pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 0pt;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dadee1;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dadee1;
	background-color: #dadee1;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dadee1;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dadee1;
	name: Footer1;
	id: 3;
}


 
/*                       */
/*   CELL DEFINITIONS    */
/*                       */
 
.TableStyle-vTableCOM
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #dadee1;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dadee1;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dadee1;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadee1;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-vTableCOM .Column-Column1
{
	
}

.TableStyle-vTableCOM .Head-Header1
{
	
}

.TableStyle-vTableCOM .HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableCOM .HeadI-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
	background-color: #dadee1;
	border-bottom-width: 1px;
	border-bottom-color: #dadee1;
	border-bottom-style: solid;
}

.TableStyle-vTableCOM .HeadE-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-bottom-width: 1px;
	border-bottom-color: #dadee1;
	border-bottom-style: solid;
}

.TableStyle-vTableCOM .HeadF-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
	background-color: #dadee1;
}

.TableStyle-vTableCOM .HeadH-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-bottom-width: 1px;
	border-bottom-color: #dadee1;
	border-bottom-style: solid;
}

.TableStyle-vTableCOM .HeadD-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableCOM .HeadC-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
	background-color: #dadee1;
}

.TableStyle-vTableCOM .HeadB-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableCOM .HeadA-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableCOM .HeadG-Column1-Header1 p
{
	
}

.TableStyle-vTableCOM .Foot-Footer1
{
	
}

.TableStyle-vTableCOM .FootI-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableCOM .FootI-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootE-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #dadee1;
	border-top-style: solid;
}

.TableStyle-vTableCOM .FootE-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootF-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-top-width: 1px;
	border-top-color: #dadee1;
	border-top-style: solid;
}

.TableStyle-vTableCOM .FootF-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootH-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
}

.TableStyle-vTableCOM .FootH-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootD-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-top-width: 1px;
	border-top-color: #dadee1;
	border-top-style: solid;
}

.TableStyle-vTableCOM .FootD-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootC-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableCOM .FootC-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootB-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
}

.TableStyle-vTableCOM .FootB-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootA-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableCOM .FootA-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .FootG-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableCOM .FootG-Column1-Footer1 p
{
	
}

.TableStyle-vTableCOM .Body-Body1
{
	
}

.TableStyle-vTableCOM .BodyI-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyE-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #dadee1;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
}

.TableStyle-vTableCOM .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyF-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #dadee1;
	border-bottom-style: solid;
}

.TableStyle-vTableCOM .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyH-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
}

.TableStyle-vTableCOM .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyD-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #dadee1;
	border-bottom-style: solid;
}

.TableStyle-vTableCOM .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyC-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyB-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #dadee1;
	border-right-style: solid;
}

.TableStyle-vTableCOM .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyA-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyG-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 4pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableCOM .BodyG-Column1-Body1 p
{
	font-weight: normal;
}


