/* MadCap Table Style: */

/*<meta Version="9" />*/

/*                       */
/*   TABLE DEFINITIONS   */
/*                       */

mcTableStyle
{
	name: vTableVisualSequencer;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-top: 2pt;
	cell-padding-bottom: 0pt;
	max-id: 3;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	background-color: #dadee1;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	background-color: #ffffff;
	name: Header1;
	id: 2;
	font-weight: bold;
	color: #000000;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
}


 
/*                       */
/*   CELL DEFINITIONS    */
/*                       */
 
.TableStyle-vTableVisualSequencer
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-vTableVisualSequencer-Column-Column1
{
	
}

.TableStyle-vTableVisualSequencer-Head-Header1
{
	
}

.TableStyle-vTableVisualSequencer-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.TableStyle-vTableVisualSequencer-HeadI-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-vTableVisualSequencer-HeadE-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-vTableVisualSequencer-HeadF-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.TableStyle-vTableVisualSequencer-HeadH-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-vTableVisualSequencer-HeadD-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.TableStyle-vTableVisualSequencer-HeadC-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.TableStyle-vTableVisualSequencer-HeadB-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.TableStyle-vTableVisualSequencer-HeadA-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.TableStyle-vTableVisualSequencer-HeadG-Column1-Header1 p
{
	color: #000000;
	font-weight: bold;
}

.TableStyle-vTableVisualSequencer-Foot-Footer1
{
	
}

.TableStyle-vTableVisualSequencer-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-FootI-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 2px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-vTableVisualSequencer-FootE-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-top-width: 2px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-vTableVisualSequencer-FootF-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-vTableVisualSequencer-FootH-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-top-width: 2px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-vTableVisualSequencer-FootD-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-FootC-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-vTableVisualSequencer-FootB-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-FootA-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-FootG-Column1-Footer1 p
{
	
}

.TableStyle-vTableVisualSequencer-Body-Body1
{
	
}

.TableStyle-vTableVisualSequencer-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #dadee1;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-vTableVisualSequencer-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	background-color: #dadee1;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-vTableVisualSequencer-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	background-color: #dadee1;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-vTableVisualSequencer-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableVisualSequencer-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 2pt;
	padding-bottom: 0pt;
	font-weight: normal;
	background-color: #dadee1;
}

.TableStyle-vTableVisualSequencer-BodyG-Column1-Body1 p
{
	font-weight: normal;
}