/* MadCap Table Style: */

/*<meta />*/

/*                       */
/*   TABLE DEFINITIONS   */
/*                       */

mcTableStyle {
	name: vTableOverview; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #565c5e;
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #565c5e;
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #565c5e;
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #565c5e;
	cell-padding-left: 5pt; 
	cell-padding-right: 5pt; 
	cell-padding-top: 5pt; 
	cell-padding-bottom: 0pt; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #565c5e;
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #565c5e;
	background-color: #dadee1;
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #565c5e; 
}

mcTableBodyStyle {
	span: 1; 
	background-color: #F0F5F5;
	separator-style: solid; 
	separator-width: 1pt; 
	separator-color: #565c5e; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #565c5e; 
}


 
/*                       */
/*   CELL DEFINITIONS    */
/*                       */
 
.TableStyle_vTableOverview
{
	border-left-style: solid;
	border-left-color: #565c5e;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #565c5e;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #565c5e;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #565c5e;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 5pt 5pt 0pt 5pt;
	margin-bottom: 15pt;
}

.TableStyle_vTableOverview_Head_0_0
{
	background-color: #dadee1;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Head_0_0 p
{
	
}

.TableStyle_vTableOverview_Head_0_0_RowSep_ColSep
{
	background-color: #dadee1;
	border-bottom-width: 1px;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_vTableOverview_Head_0_0_RowSep
{
	background-color: #dadee1;
	border-bottom-width: 1px;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Head_0_0_RowSep p
{
	
}

.TableStyle_vTableOverview_Head_0_0_ColSep
{
	background-color: #dadee1;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Head_0_0_ColSep p
{
	
}

.TableStyle_vTableOverview_Head_0_0_RowSep_ColEnd
{
	background-color: #dadee1;
	border-bottom-width: 1px;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_vTableOverview_Head_0_0_RowEnd
{
	background-color: #dadee1;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Head_0_0_RowEnd p
{
	
}

.TableStyle_vTableOverview_Head_0_0_RowEnd_ColSep
{
	background-color: #dadee1;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_vTableOverview_Head_0_0_RowEnd_ColEnd
{
	background-color: #dadee1;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_vTableOverview_Head_0_0_ColEnd
{
	background-color: #dadee1;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Head_0_0_ColEnd p
{
	
}

.TableStyle_vTableOverview_Body_0_0
{
	font-weight: normal;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_ColSep
{
	font-weight: normal;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_RowEnd
{
	font-weight: normal;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_0_0_ColEnd
{
	font-weight: normal;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_vTableOverview_Body_1_0
{
	background-color: #F0F5F5;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_1_0 p
{
	
}

.TableStyle_vTableOverview_Body_1_0_RowSep_ColSep
{
	background-color: #F0F5F5;
	border-bottom-width: 1pt;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_vTableOverview_Body_1_0_RowSep
{
	background-color: #F0F5F5;
	border-bottom-width: 1pt;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_1_0_RowSep p
{
	
}

.TableStyle_vTableOverview_Body_1_0_ColSep
{
	background-color: #F0F5F5;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Body_1_0_ColSep p
{
	
}

.TableStyle_vTableOverview_Body_1_0_RowSep_ColEnd
{
	background-color: #F0F5F5;
	border-bottom-width: 1pt;
	border-bottom-color: #565c5e;
	border-bottom-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_vTableOverview_Body_1_0_RowEnd
{
	background-color: #F0F5F5;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_1_0_RowEnd p
{
	
}

.TableStyle_vTableOverview_Body_1_0_RowEnd_ColSep
{
	background-color: #F0F5F5;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_vTableOverview_Body_1_0_RowEnd_ColEnd
{
	background-color: #F0F5F5;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_vTableOverview_Body_1_0_ColEnd
{
	background-color: #F0F5F5;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Body_1_0_ColEnd p
{
	
}

.TableStyle_vTableOverview_Foot_0_0
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Foot_0_0 p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #565c5e;
	border-top-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #565c5e;
	border-top-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Foot_0_0_RowSep p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_ColSep
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Foot_0_0_ColSep p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #565c5e;
	border-top-style: solid;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_RowEnd
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Foot_0_0_RowEnd p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_RowEnd_ColSep
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #565c5e;
	border-right-style: solid;
}

.TableStyle_vTableOverview_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_vTableOverview_Foot_0_0_ColEnd
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle_vTableOverview_Foot_0_0_ColEnd p
{
	
}

