/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: vTableWindow;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #909090;
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: #909090;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #909090;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #909090;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-top: 5pt;
	cell-padding-bottom: 0pt;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #909090;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #909090;
	background-color: #dadee1;
	cell-content-style-tag: p;
	cell-content-style-class: TableHead;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #909090;
	cell-content-style-tag: p;
	cell-content-style-class: Table;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #909090;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-vTableWindow
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #909090;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-color: #909090;
	border-right-width: 3px;
	border-top-style: solid;
	border-top-color: #909090;
	border-top-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #909090;
	border-bottom-width: 3px;
	border-spacing: 0px 0px;
}

.TableStyle-vTableWindow-Column-Column1
{
	
}

.TableStyle-vTableWindow-Head-Header1
{
	
}

.TableStyle-vTableWindow-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableWindow-HeadI-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
	background-color: #dadee1;
	border-bottom-width: 3px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTableWindow-HeadE-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-bottom-width: 3px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTableWindow-HeadF-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
	background-color: #dadee1;
}

.TableStyle-vTableWindow-HeadH-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
	border-bottom-width: 3px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTableWindow-HeadD-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableWindow-HeadC-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
	background-color: #dadee1;
}

.TableStyle-vTableWindow-HeadB-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableWindow-HeadA-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #dadee1;
}

.TableStyle-vTableWindow-HeadG-Column1-Header1 p
{
	
}

.TableStyle-vTableWindow-Foot-Footer1
{
	
}

.TableStyle-vTableWindow-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableWindow-FootI-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
	border-top-width: 3px;
	border-top-color: #909090;
	border-top-style: solid;
}

.TableStyle-vTableWindow-FootE-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-top-width: 3px;
	border-top-color: #909090;
	border-top-style: solid;
}

.TableStyle-vTableWindow-FootF-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTableWindow-FootH-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-top-width: 3px;
	border-top-color: #909090;
	border-top-style: solid;
}

.TableStyle-vTableWindow-FootD-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableWindow-FootC-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTableWindow-FootB-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableWindow-FootA-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTableWindow-FootG-Column1-Footer1 p
{
	
}

.TableStyle-vTableWindow-Body-Body1
{
	
}

.TableStyle-vTableWindow-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 3px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTableWindow-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 3px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTableWindow-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTableWindow-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 3px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTableWindow-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-right-width: 3px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTableWindow-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTableWindow-BodyG-Column1-Body1 p
{
	font-weight: normal;
}


