/*<meta />*/

@media only screen and (max-width: 955px)
{
	.row
	{
		-webkit-overflow-scrolling: touch;
	}

	#header
	{
		display: none;
	}

	#home
	{
		width: 100%;
		height: 40px;
		color: #dadada;
		/* Old browsers */
		/* FF3.6+ */
		/* Chrome,Safari4+ */
		/* Chrome10+,Safari5.1+ */
		/* Opera11.10+ */
		/* IE10+ */
		/* W3C */
		/*PIE*/
		text-align: center;
		cursor: pointer;
		display: block;
		line-height: 40px;
		background-repeat: no-repeat;
		border-right: none 0px transparent;
		border-top: none 1px #dadee1;
		border-bottom: none 0px #dadee1;
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	#home-text
	{
		height: 100%;
		color: #636363;
		font-size: 10pt;
	}

	#home-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
		padding-left: 33px;
		padding-right: 10px;
		margin: 0;
		height: 100%;
		background: none;
	}

	.tree-node .new-indicator
	{
		position: absolute;
		top: 0;
		left: 7px;
		width: 7px;
		height: 7px;
		margin-top: 7px;
		background: none;
		background-repeat: no-repeat;
	}

	#responsiveHeader
	{
		display: block;
		text-align: center;
		height: 66px;
		background: #dadee1 none;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	#responsiveHeader > a.homeLink
	{
		
	}

	#responsiveHeader .logo
	{
		margin: auto;
		height: 100%;
		width: 287px;
		background: #ffffff url('Images/VectorLogo_SNTPTablet.png') no-repeat center center;
		background: url('Images/VectorLogo_SNTPTablet.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/VectorLogo_SNTPTablet.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/VectorLogo_SNTPTablet.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/VectorLogo_SNTPTablet.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/VectorLogo_SNTPTablet.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/VectorLogo_SNTPTablet.png') no-repeat center center, linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/VectorLogo_SNTPTablet.png') no-repeat center center, linear-gradient(#ffffff, #ffffff);
	}

	#responsiveHeader .logo > img
	{
		width: 287px;
		height: 67px;
	}

	.toggle-topbar
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 60px;
	}

	.toggle-topbar button
	{
		position: relative;
		display: block;
	}

	#search-index,
	#search-glossary
	{
		display: none;
	}

	#navigation
	{
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #f1f1f1;
	}

	#normalLoginBtn
	{
		display: none;
	}

	#contentBody
	{
		width: 100%;
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	#contentBodyInner
	{
		top: 96px;
	}

	/* Responsive output buttons */

	.toolbar-buttons
	{
		top: 73px;
	}

	.feedback-active .button.login-button.feedback-required
	{
		display: block;
	}

	.button
	{
		background-position: center center;
		background-repeat: no-repeat;
		height: 0px;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.login-button.feedback-required
	{
		display: none;
	}

	.tab
	{
		float: none;
		width: 100%;
	}

	.tab-collapsed .tabs-nav-text
	{
		display: block;
	}

	.tabs
	{
		background-color: #f1f1f1;
		width: 100%;
	}

	.tabs li
	{
		list-style-type: none;
	}

	.tabs-nav li
	{
		cursor: pointer;
		width: 100%;
		height: 40px;
		margin-top: 0px;
		line-height: 40px;
		font-size: 10pt;
	}

	.tabs-nav li.tab-collapsed
	{
		width: 100%;
		height: 40px;
		font-size: 10pt;
		line-height: 40px;
	}

	.tabs-nav li.tabs-nav-inactive
	{
		border-radius: 0;
		-webkit-border-radius: 0;
		border-right: none 0px transparent;
		border-top: solid 1px #dadee1;
		border-bottom: solid 1px #dadee1;
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
		background-clip: padding-box;
	}

	.tabs-nav li#TocTab,
	.tabs-nav li#TocTab.tab-collapsed,
	.tabs-nav li#IndexTab,
	.tabs-nav li#IndexTab.tab-collapsed,
	.tabs-nav li#GlossaryTab,
	.tabs-nav li#GlossaryTab.tab-collapsed,
	.tabs-nav li#BrowseSequencesTab,
	.tabs-nav li#BrowseSequencesTab.tab-collapsed,
	.tabs-nav li#CommunityTab,
	.tabs-nav li#CommunityTab.tab-collapsed,
	.tabs-nav li#SearchTab,
	.tabs-nav li#SearchTab.tab-collapsed
	{
		width: 100%;
	}

	.tabs-nav
	{
		padding: 0;
		margin: 0;
	}

	.tabs-nav li.tabs-nav-active
	{
		border: solid 1px #494949;
		border-width: 1px 0px 0px 0px;
		border-radius: 0px;
		border-left: solid 0px #dadee1;
		border-right: solid 0px #dadee1;
		border-top: solid 1px #dadee1;
		border-bottom: solid 1px #dadee1;
		background-repeat: no-repeat;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tree li div span a
	{
		text-decoration: none;
	}

	.tree-node > div
	{
		background-repeat: no-repeat;
	}

	.tree-node div
	{
		background: #d5d5d5;
		cursor: pointer;
		line-height: 3em;
	}

	.tree-node div > img
	{
		margin-left: 18px;
	}

	.tree-node div .label
	{
		color: #565c5e;
		font-size: 10pt;
	}

	.tree-node div.GlossaryPageTerm .label,
	.tree-node div.SearchFilter .label
	{
		margin: 0 11px;
	}

	.tree
	{
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}

	.tree-node-selected
	{
		color: white;
	}

	.tabs-panel
	{
		position: relative;
		right: auto;
		bottom: auto;
		left: auto;
		top: 0;
		padding: inherit;
		background-color: #f0f5f5;
	}

	.tabs-panel-content
	{
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		padding: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		background-repeat: repeat;
		border-left: none 0px #f0f5f5;
		border-right: none 0px #f0f5f5;
		border-bottom: none 0px #f0f5f5;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.tabs-panel-search
	{
		padding: 1px;
	}

	.index #responsive-search-index,
	.glossary #responsive-search-glossary
	{
		display: block;
	}

	.index #search-field-sidebar,
	.glossary #search-field-sidebar
	{
		display: none;
	}

	.tabs-panel-content.searchable
	{
		top: 0px;
	}

	.tab-icon #TocTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		color: #707070;
		height: 40px;
		margin: 0;
		background: transparent url('Images/vTOC_24_1.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/vTOC_24_1.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 40px;
		margin: 0;
		background: transparent url('Images/ResponsiveIndexInActive_light.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/ResponsiveIndexInActive_light.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 40px;
		margin: 0;
		background: transparent url('Images/ResponsiveGlossaryInActive_light.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/ResponsiveGlossaryInActive_light.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 40px;
		margin: 0;
		background: transparent url('Images/ResponsiveBrowseSequenceInActive_light.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/ResponsiveBrowseSequenceInActive_light.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/communityInactive.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/communityInactive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-inactive .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		height: 41px;
		margin: 0;
		background: transparent url('Images/vSearchFilter_24.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/vSearchFilter_24.png') no-repeat 11px center;
	}

	.tab-icon #TocTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		color: #707070;
		background: transparent url('Images/vTOC_24.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/vTOC_24.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/ResponsiveIndexActive.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/ResponsiveIndexActive.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/ResponsiveGlossaryActive.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/ResponsiveGlossaryActive.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/ResponsiveBrowseSequenceActive.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/ResponsiveBrowseSequenceActive.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/communityActive.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/communityActive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-active .tabs-nav-icon
	{
		padding-left: 33px;
		padding-right: 10px;
		margin: 4px 0 4px 0;
		height: 30px;
		background: transparent url('Images/vSearchFilter_24.png') no-repeat 11px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/vSearchFilter_24.png') no-repeat 11px center;
	}

	.SearchFilterEntry.tree-node.tree-node-leaf .SearchFilter,
	.SearchFilterEntry.tree-node.tree-node-leaf.tree-node-selected .SearchFilter,
	.SearchFilterEntry.tree-node.tree-node-leaf.tree-node-selected .SearchFilter:hover
	{
		background-image: none;
		padding: 0;
	}

	body.active #SearchTab
	{
		display: block;
	}

	/* Search bar styles */

	#search-sidebar
	{
		position: relative;
		display: block;
		width: 100%;
		height: 40px;
		-webkit-box-shadow: 0px 0px 0px #ffffff;
		-moz-box-shadow: 0px 0px 0px #ffffff;
		box-shadow: 0px 0px 0px #ffffff;
		-webkit-box-shadow: 0px 0px 0px #ffffff;
		-moz-box-shadow: 0px 0px 0px #ffffff;
	}

	.toc-icon
	{
		
	}

	#glossary .tree-node > div
	{
		width: 100%;
	}

	#index .tree-node > div
	{
		padding-left: 0;
	}

	#index .tree-node.tree-node-leaf.tree-node-selected > div
	{
		background-position: 10px center;
		padding-left: 37px;
		color: #565c5e;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/index.png') no-repeat left 10px center, linear-gradient(#ffffff, #ffffff);
	}

	.menu-icon
	{
		display: block;
	}

	.menu-icon button span
	{
		background: transparent url('Images/vMenuButtonWhite.png') no-repeat center center;
		background: url('Images/vMenuButtonWhite.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/vMenuButtonWhite.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/vMenuButtonWhite.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/vMenuButtonWhite.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/vMenuButtonWhite.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/vMenuButtonWhite.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/vMenuButtonWhite.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	#search-field-sidebar
	{
		position: relative;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		outline: none;
		line-height: 1;
		/* IE Fix*/
		text-indent: 39px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		color: #ffffff;
		font-size: 10pt;
		border-left: inset 0px #dadee1;
		border-right: none 0px #ffffff;
		border-top: none 0px #dadee1;
		border-bottom: solid 0px #dadee1;
		background: #565c5e url('Images/ResponsiveSearch_light.png') no-repeat 8px center;
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -moz-linear-gradient(top, #565c5e 0%, #565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565c5e), color-stop(100%,#565c5e));
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -webkit-linear-gradient(top, #565c5e 0%, #565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -o-linear-gradient(top, #565c5e 0%,#565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -ms-linear-gradient(top, #565c5e 0%,#565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, linear-gradient(top, #565c5e 0%,#565c5e 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/ResponsiveSearch_light.png') no-repeat 8px center, linear-gradient(#565c5e, #565c5e);
	}

	#responsive-search-index
	{
		position: relative;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		outline: none;
		line-height: 1;
		/* IE Fix*/
		text-indent: 39px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		color: #ffffff;
		font-size: 10pt;
		border-left: inset 0px #dadee1;
		border-right: none 0px #ffffff;
		border-top: none 0px #dadee1;
		border-bottom: solid 0px #dadee1;
		background: #565c5e url('Images/ResponsiveSearch_light.png') no-repeat 8px center;
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -moz-linear-gradient(top, #565c5e 0%, #565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565c5e), color-stop(100%,#565c5e));
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -webkit-linear-gradient(top, #565c5e 0%, #565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -o-linear-gradient(top, #565c5e 0%,#565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -ms-linear-gradient(top, #565c5e 0%,#565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, linear-gradient(top, #565c5e 0%,#565c5e 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/ResponsiveSearch_light.png') no-repeat 8px center, linear-gradient(#565c5e, #565c5e);
	}

	#responsive-search-glossary
	{
		position: relative;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		-moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, .5), 0 1px 2px -1px rgba(255, 255, 255, .4);
		outline: none;
		line-height: 1;
		/* IE Fix*/
		text-indent: 39px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		color: #ffffff;
		font-size: 10pt;
		border-left: inset 0px #dadee1;
		border-right: none 0px #ffffff;
		border-top: none 0px #dadee1;
		border-bottom: solid 0px #dadee1;
		background: #565c5e url('Images/ResponsiveSearch_light.png') no-repeat 8px center;
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -moz-linear-gradient(top, #565c5e 0%, #565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565c5e), color-stop(100%,#565c5e));
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -webkit-linear-gradient(top, #565c5e 0%, #565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -o-linear-gradient(top, #565c5e 0%,#565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, -ms-linear-gradient(top, #565c5e 0%,#565c5e 100%);
		background: url('Images/ResponsiveSearch_light.png') no-repeat 8px center, linear-gradient(top, #565c5e 0%,#565c5e 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/ResponsiveSearch_light.png') no-repeat 8px center, linear-gradient(#565c5e, #565c5e);
	}

	.tabs-nav li#CommunityTab
	{
		display: none;
	}

	/* Offcanvas styles */

	html.right-layout #navigation[role="complementary"]
	{
		left: 0;
		right: auto;
	}

	html.right-layout .active #navigation[role="complementary"]
	{
		right: 0;
		left: auto;
	}

	html.right-layout [role="complementary"],
	html.right-layout [role="main"],
	html.left-layout [role="complementary"],
	html.left-layout [role="main"]
	{
		-webkit-transition: all 0s ease 0s;
	}

	#contentBody
	{
		position: relative;
	}

	#body
	{
		top: 0;
	}

	html.left-layout #contentBody
	{
		left: 5px;
	}

	html.right-layout #contentBody
	{
		right: 5px;
	}

	/* Navigation slide out Styles*/

	#contentBody[role="main"]
	{
		width: 100%;
	}

	.hide-extras.active [role="main"]
	{
		width: 50%;
	}

	.hide-extras.active #navigation[role="complementary"]
	{
		width: 50%;
		display: block;
	}

	.active #contentBody[role="main"]
	{
		margin-right: -50%;
	}

	/* Offcanvas styles for pane position set right */

	html.right-layout .active #contentBody[role="main"]
	{
		margin-right: 50%;
	}

	.non-collapsable
	{
		width: 100%;
	}

	.show-for-xlarge-up
	{
		display: none !important;
	}

	.central-account-wrapper
	{
		position: absolute;
		top: 0;
		z-index: 1;
		line-height: 60px;
		left: 60px;
		right: auto;
	}

	.central-dropdown
	{
		margin: 0;
	}

	.central-dropdown .central-account-drop
	{
		padding: 0;
	}

	.central-account-image
	{
		margin: 0 20px 3px 20px;
		background: transparent url('Images/icon-user-light-gray.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/icon-user-light-gray.png') no-repeat center center;
	}

	.central-account-text
	{
		display: none;
	}

	.central-dropdown-content
	{
		left: 0;
		right: auto;
		background-color: #ffffff;
	}

	.central-dropdown:hover
	{
		
	}

	.central-dropdown-content a
	{
		
	}

	.knowledge-panel-container .micro-response-title a:visited
	{
		
	}

	#resultList .glossary .term a:visited
	{
		
	}

	.featured-snippets-container .micro-response-title a:visited
	{
		
	}

	#resultList .title a:visited
	{
		
	}

	.knowledge-panel-container .micro-response-title a:focus
	{
		
	}

	#resultList .glossary .term a:focus
	{
		
	}

	.featured-snippets-container .micro-response-title a:focus
	{
		
	}

	#resultList .title a:focus
	{
		
	}

	.central-dropdown-content a:hover
	{
		
	}

	.knowledge-panel-container .micro-response-title a:hover
	{
		
	}

	#resultList .glossary .term a:hover
	{
		
	}

	.featured-snippets-container .micro-response-title a:hover
	{
		
	}

	#pagination a:hover
	{
		
	}

	#resultList .title a:hover
	{
		
	}

	.knowledge-panel-container .micro-response-title a:active
	{
		
	}

	#resultList .glossary .term a:active
	{
		
	}

	.featured-snippets-container .micro-response-title a:active
	{
		
	}

	#resultList .title a:active
	{
		
	}

	.central-separator
	{
		background-color: #D5D8DA;
	}

	.featured-snippets-container
	{
		
	}

	#knowledge-panel
	{
		
	}

	#search-results-flex
	{
		
	}

	.knowledge-panel-container
	{
		
	}

	.knowledge-panel-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-phrase span
	{
		
	}

	.knowledge-panel-container .micro-content-phrase
	{
		
	}

	.knowledge-panel-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.knowledge-panel-container .micro-response
	{
		
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		
	}

	.knowledge-panel-container .micro-response-title a
	{
		
	}

	.knowledge-panel-container .micro-response-title
	{
		
	}

	.knowledge-panel-container .micro-response-url cite
	{
		
	}

	.knowledge-panel-container .micro-response-url
	{
		
	}

	.knowledge-panel-container .micro-content
	{
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.knowledge-panel-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.knowledge-panel-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(top, transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	body
	{
		background: #dadee1 none;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	#browseSequences.tabs-panel-content
	{
		background-repeat: repeat;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	#community.tabs-panel-content
	{
		background-repeat: repeat;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	#glossary.tabs-panel-content
	{
		background-repeat: repeat;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	#index.tabs-panel-content
	{
		background-repeat: repeat;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	#index .tree-node.tree-node-expanded > div
	{
		background: transparent url('Images/index-expanded.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/index-expanded.png') no-repeat left 10px center;
		padding-left: 37px;
	}

	#index .tree-node.tree-node-collapsed > div
	{
		background: transparent url('Images/index-collapsed.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/index-collapsed.png') no-repeat left 10px center;
		padding-left: 37px;
	}

	#index .tree-node.tree-node-leaf > div
	{
		background: transparent url('Images/index.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/index.png') no-repeat left 10px center;
		padding-left: 37px;
	}

	#index .tree-node.tree-node-collapsed.tree-node-selected > div
	{
		padding-left: 37px;
		color: #565c5e;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/index-collapsed.png') no-repeat left 10px center, linear-gradient(#ffffff, #ffffff);
		background-position: 0px 3px;
	}

	#index .tree-node.tree-node-expanded.tree-node-selected > div
	{
		padding-left: 37px;
		color: #565c5e;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/index-expanded.png') no-repeat left 10px center, linear-gradient(#ffffff, #ffffff);
		background-position: 0px 3px;
	}

	#search.tabs-panel-content
	{
		background-repeat: repeat;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	#toc.tabs-panel-content
	{
		background-repeat: repeat;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.tree-node.tree-node-collapsed > div
	{
		background: transparent url('Images/vTOCCloseArrow.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/vTOCCloseArrow.png') no-repeat left 10px center;
		padding-left: 43px;
	}

	.tree-node.tree-node-collapsed.tree-node-selected > div
	{
		color: #565c5e;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/vTOCCloseArrow.png') no-repeat left 10px center, linear-gradient(#ffffff, #ffffff);
		background-position: 0px 3px;
	}

	.tree-node.tree-node-expanded > div
	{
		background: transparent url('Images/vTOCOpenArrow.png') no-repeat left 10px center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/vTOCOpenArrow.png') no-repeat left 10px center;
		padding-left: 43px;
	}

	.tree-node.tree-node-expanded.tree-node-selected > div
	{
		color: #565c5e;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/vTOCOpenArrow.png') no-repeat left 10px center, linear-gradient(#ffffff, #ffffff);
		background-position: 0px 3px;
	}

	.tree-node.tree-node-leaf > div
	{
		background-repeat: no-repeat;
		background-position: left 10px center;
		background: none;
	}

	.tree-node.tree-node-leaf.tree-node-selected > div
	{
		background-position: left 10px center;
		color: #565c5e;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.tabs-nav li#BrowseSequencesTab
	{
		
	}

	.tabs-nav li#Community
	{
		
	}

	.tabs-nav li#GlossaryTab
	{
		
	}

	.tabs-nav li#IndexTab
	{
		
	}

	.tabs-nav li#SearchTab
	{
		color: #565c5e;
		height: 41px;
	}

	.tabs-nav li#TocTab
	{
		color: #565c5e;
		font-size: 10pt;
		height: 40px;
	}

	.tabs-nav li.tabs-nav-active .tabs-nav-text
	{
		color: #565c5e;
	}

	#show-hide-navigation
	{
		background-color: #f0f5f5;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-active
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tab-icon #CommunityTab.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li#CommunityTab.tabs-nav-active
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tab-icon #GlossaryTab.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li#GlossaryTab.tabs-nav-active
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tab-icon #IndexTab.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li#IndexTab.tabs-nav-active
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tab-icon #SearchTab.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li#SearchTab.tabs-nav-active
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tab-icon #TocTab.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li#TocTab.tabs-nav-active
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tabs-nav li.tabs-nav-inactive .tabs-nav-text
	{
		
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-inactive
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tabs-nav li#CommunityTab.tabs-nav-inactive
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tabs-nav li#GlossaryTab.tabs-nav-inactive
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tabs-nav li#IndexTab.tabs-nav-inactive
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tabs-nav li#SearchTab.tabs-nav-inactive
	{
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.tabs-nav li#TocTab.tabs-nav-inactive
	{
		border-top: solid 1px #dadee1;
		border-bottom: solid 1px #dadee1;
		background: #f0f5f5;
		background: -moz-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f5), color-stop(100%,#f0f5f5));
		background: -webkit-linear-gradient(top, #f0f5f5 0%, #f0f5f5 100%);
		background: -o-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: -ms-linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		background: linear-gradient(top, #f0f5f5 0%,#f0f5f5 100%);
		-pie-background: linear-gradient(#f0f5f5, #f0f5f5);
	}

	.search-account-container
	{
		
	}

	#resultList .glossary .definition
	{
		
	}

	#resultList .glossary
	{
		background-position: center center;
	}

	#resultList .glossary .term
	{
		
	}

	#resultList .glossary .term a
	{
		
	}

	#results-heading
	{
		
	}

	#search-field::-webkit-input-placeholder
	{
		color: #ffffff;
	}

	#search-field::-moz-placeholder
	{
		color: #ffffff;
	}

	#search-field:-moz-placeholder
	{
		color: #ffffff;
	}

	#search-field:-ms-input-placeholder
	{
		color: #ffffff;
	}

	.featured-snippets-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.featured-snippets-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-phrase span
	{
		
	}

	.featured-snippets-container .micro-content-phrase
	{
		
	}

	.featured-snippets-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.featured-snippets-container .micro-response
	{
		
	}

	.featured-snippets-container.micro-content-truncated-mode .micro-response
	{
		
	}

	.featured-snippets-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.featured-snippets-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-up.png') no-repeat center center;
	}

	.featured-snippets-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/arrow-down.png') no-repeat center center;
	}

	.featured-snippets-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(top, transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	.featured-snippets-container .micro-response-title a
	{
		
	}

	.featured-snippets-container .micro-response-title
	{
		
	}

	.featured-snippets-container .micro-response-url cite
	{
		
	}

	.featured-snippets-container .micro-response-url
	{
		
	}

	.featured-snippets-container .micro-content
	{
		background-position: center center;
	}

	#pagination
	{
		line-height: 40px;
	}

	#pagination a
	{
		
	}

	#pagination a#selected
	{
		
	}

	#resultList .description
	{
		
	}

	#resultList .title a
	{
		
	}

	#resultList .url cite
	{
		
	}

	#resultList
	{
		
	}

	.button > div
	{
		
	}

	.button .button-icon
	{
		
	}

	.button .button-icon-wrapper
	{
		
	}

	.button .button-text
	{
		
	}

	.button.collapse-all-button
	{
		background-repeat: no-repeat;
		display: none;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.edit-user-profile-button
	{
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.expand-all-button
	{
		background-repeat: no-repeat;
		display: none;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.login-button
	{
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.next-topic-button
	{
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.previous-topic-button
	{
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.print-button
	{
		background-repeat: no-repeat;
		display: none;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.remove-highlight-button
	{
		background-repeat: no-repeat;
		display: none;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.select-language-button
	{
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.select-skin-button
	{
		background-repeat: no-repeat;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
		-pie-background: linear-gradient(#ffffff, #ffffff);
	}

	.button.topic-ratings-button
	{
		background: transparent url('Images/star-full.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-full.png') no-repeat center center;
	}

	.button.topic-ratings-empty-button
	{
		background: transparent url('Images/star-empty.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/star-empty.png') no-repeat center center;
	}

	.toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	.toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	.button-separator
	{
		
	}
}

