/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: vTableMiniTOC;
	border-collapse: separate;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-top: 5pt;
	cell-padding-bottom: 5pt;
	max-id: 3;
	border-spacing-y: 2;
	border-spacing-x: 2;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	background-color: #f0f5f5;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	name: Body1;
	id: 1;
	background-color: #f0f5f5;
}


/* Cell Styles: */
 
.TableStyle-vTableMiniTOC
{
	border-collapse: separate;
	border-spacing: 2px 2px;
}

.TableStyle-vTableMiniTOC-Column-Column1
{
	
}

.TableStyle-vTableMiniTOC-HeadI-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadI-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadE-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadE-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadF-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadF-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadH-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadH-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadD-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadD-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadC-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadC-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadB-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadB-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadA-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadA-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-HeadG-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-HeadG-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootI-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootI-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootE-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootE-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootF-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootF-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootH-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootH-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootD-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootD-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootC-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootC-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootB-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootB-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootA-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootA-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-FootG-Column1-
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-FootG-Column1- p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-Body-Body1
{
	
}

.TableStyle-vTableMiniTOC-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTableMiniTOC-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	font-weight: normal;
	background-color: #f0f5f5;
}

.TableStyle-vTableMiniTOC-BodyG-Column1-Body1 p
{
	font-weight: normal;
}


